<!DOCTYPE html>
<html lang="ko">

<head>
    <title>이메일 인증</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='join.css') }}">
</head>

<body>
    <form action="{{url_for('auth')}}" method="POST">
        <fieldset style="width:250">
            <legend>대학교 이메일 입력</legend>
            <p>
                Email 주소: <input type="email" name="email" id="email" placeholder="Email">
                <div class="btn">
                <button type="submit" id="btn">인증번호 발송</button>
                </div> 
            </p>
            <br>
            <p>부경대학생 @pknu.ac.kr</p>
            <p>경성대학생 @ks.ac.kr</p>
        </fieldset>
    </body>
    
    <script src="../static/auth.js?ver=123">
    </script>
</html>