<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>

    <body>
        <form action="{{url_for('main')}}"></form>
        <div class="container">
            <header>
                <p>다온</p>
                <ul>
                    <li>
                        <a href="/post">게시판
                    </a> </li>
                    {% if name %}
                    <li>
                        <a href="/mypage">{{name}}
                    </a></li>
                    <li>
                        <a href="/logout">로그아웃
                    </a></li>
                    {% else %}
                    <li> 
                        <a href="/auth">회원가입
                    </a></li>
                    <li>
                        <a href="/login">로그인
                    </a></li>
                    {% endif %}
                </ul>

            </header>
            <section>
                <p>
                    다온
                </p>
                <p>
                    PKNU&KYONG SUNG
                </p>
                <p>
                    이 곳은 부경대학교와 경성대학교 학우들의 소통하는 페이지 입니다. <br> 쉽게 털어놓지 못한 이야기나 고민을 여기서 편하게 이야기 해보세요

                </p>
            </section>
            <footer>

            </footer>
        </div>
    </body>

</html>