<!DOCTYPE html>
<html>
    <head>
        <title>학우 고민상담 게시판 목록</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='post.css') }}">
    </head>
    <body>
      <form class="search-form">
      <input type="text" class="search" placeholder="검색어를 입력하세요"/>
      <div class="btn-area">
        <button search="btn"
         type="submit">검색</button>
      </div>
      <div class="btn-area">
        <button write="btn"
         type="button" onClick="location.href='/write_page'">글쓰기</button>
      </div>
      <div class="btn-area">
        <button write="btn"
         type="button" onClick="location.href='/post'">글 목록</button>
      </div>
      <ul class="suggestions">
      </ul>
    </form>
        <div class="board_list_wrap">
            <table class="board_list">

              <h1>다온 학우 고민상담</h1>
              <h2>익명이라도 서로 비방하는 글 금지</h2>
                <caption>게시판 목록</caption>
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>글쓴이</th>
                        <th>작성일</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for title, value in mypost_list %}
                    {# % for v in value % #}
                    

<tr>
                        <td>{{loop.index}}</td>
                        <td class="tit">
                            {{title}}
                            <a href="#">            </a>
                        </td>
                        <td>   {{session['nickname']}} </td>
                        <td>   {{value.Date}}</td>
                        <td>    </td>
                        {% endfor %}
                        {# % endfor % #}

                    
                        
                    
                    </tr>

                </tbody>
            </table>
            <div class="paging">
                <a href="#" class="bt">첫 페이지</a>
                <a href="#" class="bt">이전 페이지</a>
                <a href="#" class="num on">1</a>
                <a href="#" class="num">2</a>
                <a href="#" class="num">3</a>
                <a href="#" class="bt">다음 페이지</a>
                <a href="#" class="bt">마지막 페이지</a>
            </div>
        </div>
    </body>
</html>